.chat--content
    .chat--content__user--name
        = message.user.name
    .chat--content__date
        = message.created_at
.chat--content__message
    - if message.content.present?
        %p.message__content
        = message.content
    = image_tag message.image.url if message.image.present?



-# .chat--content
-#       .chat--content__user--name
-#         junjun
-#       .chat--content__date
-#         2020/01/31
-#     .chat--content__message
-#       うさぎうさぎ